body {
 margin: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 background-color: #222;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  font-family: verdana;
  color: #f6b93b;
  letter-spacing: 3px;
  padding: 25px 50px;
  position: relative;
  border: 3px solid #f6b93b;
  transition: all .5s;
  overflow: hidden;
}

a::after, a::before, span::after, span::before {
  content: '';
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #f6b93b;
  z-index: -1;
  transition: all .2s;
}

a::after {
  top: -100%;
  left: 25%;
  transition-delay: .1s;
}

a:hover::after {
  top: 0;
  /* left: 25%; */
}

a::before {
  /* top: 0; */
  top: 100%;
  /* left: -25%; */
  left: 0;
}

a:hover::before {
  /* top: 0; */
  top: 0;
  /* left: 0; */
}

a span::after {
  /* top: 0; */
  top: -100%;
  /* right: -25%; */
  right: 0;
  transition-delay: .3s;
}

a:hover span::after {
  /* right: 0; */
  top: 0;
}

a span::before {
  top: 100%;
  right: 25%;
  transition-delay: .2s;
}

a:hover span::before {
  top: 0;
}

a:hover {
  color: #222;
}
